:root {
  --color1: #262525;
  --color2: #daa520;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Inter", serif;
}

body {
  background: var(--color1);
}

nav {
  margin-top: 50px;
}

nav #ul1 a {
  text-decoration: none;
  color: black;
}

nav #ul1 {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
}
nav #li1 {
  margin-top: 15px;
  background: var(--color2);
  list-style: none;
  font-size: 1.2rem;
  max-height: 30px;
  font-weight: 700;
  width: 140px;
  align-items: center;
  text-align: center;
  border-radius: 150px;
  box-shadow: #daa5202b -1px 14px 30px 5px;
  text-decoration: none;
  color: black;
}
nav #li3,
#li2 {
  list-style: none;
}

nav #li3 {
  display: none;
}

#li2:hover + #li3 {
  display: block;
}

.mainmenubtn {
  background: transparent;
  border: transparent;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-child {
  display: none;
}
.dropdown-child a {
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-child {
  display: block;
}

nav img {
  height: 30px;
  margin-top: 15px;
  border-radius: 150px;
  width: 30px;
}

.box {
  max-width: 250px;
  width: 100%;
  margin-top: 0px;
}

#jaune {
  color: #daa520;
}

.box .search-box {
  position: relative;
  height: 35px;
  max-width: 20px;
  background: var(--color2);
  margin: auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  transition: all 0.3s ease;
  margin-top: 12px;
}

#check ~ .search-box {
  max-width: 200px;
}

.search-box input {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  background: #fff;
  outline: none;
  border: none;
  padding-left: 20px;
  font-size: 18px;
}

.search-box .icon {
  position: absolute;
  right: -2px;
  margin-top: 0;
  width: 50px;
  background: var(--color2);
  height: 100%;
  text-align: center;
  align-items: center;
  border-radius: 25px;
  line-height: 50px;
  color: black;
  font-weight: 700px;
  font-size: 20px;
  box-shadow: #daa5202b -1px 14px 30px 5px;
}

#icon i {
  position: absolute;
  top: 10px;
  left: 20px;
}

#check ~ .search-box .icon {
  background: var(--color2);
  color: black;
  border-radius: 0 25px 25px 0;
  width: 60px;
}

#check {
  display: none;
}

.un img {
  margin-top: 120px;
}

.main-un {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: auto;
}

.un-container {
  border: #daa520 3px;
}

.un img {
  max-width: 270px;
  height: 450px;
  z-index: -1;
  border-radius: 30px;
  border: #daa520 3px solid;
}

#img-un {
  width: 100%;
  background: #262525c7;
  height: 160px;
  position: relative;
  margin-top: -163px;
  border: #daa520 3px solid;
  border-radius: 30px;
}

.barre {
  background: #daa5203b;
  height: 1px;
  width: 100%;
  position: absolute;
  top: 500px;
  z-index: -1;
  box-shadow: #daa52079 0 0 65px 20px;
}

.text-un h1 {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  margin-top: 90px;
}

#jaune {
  color: #daa520;
}

.deux {
  margin-top: 100px;
}

.deux-containeur {
  display: flex;
  width: 75%;
  margin: auto;
  justify-content: center;
}

.deux1 {
  border: solid 3px #daa52098;
  height: 400px;
  width: 500px;
  box-shadow: inset #daa52035 0px 4px 60px 5px;
}

.deux2 {
  border: solid 3px #daa52098;
  height: 400px;
  width: 500px;
  box-shadow: #daa52059 0px -6px 60px 10px;
}

.deux3 {
  border: solid 3px #daa52098;
  height: 400px;
  width: 500px;
  box-shadow: inset #daa52035 0px 4px 60px 5px;
}

.deux1 h1 {
  color: white;
  text-align: center;
  margin-top: 40px;
  font-size: 2.5rem;
}

.deux1 p {
  color: white;
  margin-top: 40px;
  font-size: 1.3rem;
  text-align: center;
}

.btn1 {
  text-align: center;
}

.btn1 button {
  margin-top: 60px;
  background: rgba(0, 0, 0, 0.312);
  border: none;
  border-radius: 150px;
  height: 40px;
  width: 35%;
}

.btn1 a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.deux2 h1 {
  color: white;
  text-align: center;
  margin-top: 40px;
  font-size: 2.5rem;
}

.deux2 p {
  color: white;
  margin-top: 40px;
  font-size: 1.3rem;
  text-align: center;
}

.btn2 {
  text-align: center;
}

.btn2 button {
  margin-top: 60px;
  background: rgba(0, 0, 0, 0.312);
  border: none;
  border-radius: 150px;
  height: 40px;
  width: 35%;
}

.btn2 a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.deux3 h1 {
  color: white;
  text-align: center;
  margin-top: 40px;
  font-size: 2.5rem;
}

.deux3 p {
  color: white;
  margin-top: 40px;
  font-size: 1.3rem;
  text-align: center;
}

.btn3 {
  text-align: center;
}

.btn3 button {
  margin-top: 60px;
  background: rgba(0, 0, 0, 0.312);
  border: none;
  border-radius: 150px;
  height: 40px;
  width: 35%;
}

.btn3 a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.text-trois-container {
  display: flex;
  width: 55%;
  margin: auto;
  margin-top: 120px;
}

.trois-logo img {
  height: 80px;
  background: #daa520a4;
  border-radius: 500px;
  box-shadow: #daa520 0px 0px 50px 15px;
  border: transparent;
}

.trois-text {
  color: white;
  font-size: 1.8rem;
  margin-left: 60px;
  align-items: center;
  margin-top: 10px;
  text-decoration: underline var(--color2);
}

.trois-img-container {
  display: flex;
  width: 60%;
  margin: auto;
  justify-content: space-between;
  margin-top: 80px;
}

.trois-img-container img {
  max-width: 270px;
  height: 450px;
  z-index: -1;
  border-radius: 30px;
  border: #daa520 3px solid;
}

.img-trois {
  width: 100%;
  background: #262525c7;
  height: 160px;
  position: relative;
  margin-top: -163px;
  border: #daa520 3px solid;
  border-radius: 30px;
}

.button-scroll #button-trois-scroll {
  background: rgba(255, 255, 255, 0.152);
  height: 10px;
  width: 10px;
  display: inline-block;
  border-radius: 150px;
  margin: auto;
}

.button-scroll {
  background: #0b0b0b6b;
  width: 5%;
  border-radius: 150px;
  text-align: center;
}

.trois-button-scroll {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

#button-trois-scroll:hover {
  background: #daa520;
}

.logo-trois-container {
  display: flex;
  width: 56%;
  margin: auto;
  margin-top: 80px;
}

.logo-quatre i {
  font-size: 4.8rem;
  color: #daa520;
}

.txt-quatre {
  font-size: 2rem;
  margin-left: 40px;
  margin-top: 10px;
}

.txt-quatre h1 {
  color: white;
}

.img-quatre-container {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  margin-top: 60px;
}

.img-qutre {
  background: rgba(0, 0, 0, 0.325);
  border-radius: 20px;
}

.text-img-quatre {
  color: white;
  margin-top: -65px;
  text-align: center;
}

#txt-buger-quatre {
  margin-top: -95px;
}

.logo-cinq-container {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 80px;
}

.logo-cinq img {
  height: 60px;
  width: 60px;
}

.txt-cinq {
  font-size: 2rem;
  margin-top: 25px;
}

.txt-cinq h1 {
  color: white;
}

.cinq-img-container {
  display: flex;
  width: 75%;
  margin: auto;
  justify-content: space-between;
  margin-top: 80px;
}

.cinq-img-container img {
  max-width: 270px;
  height: 450px;
  z-index: -1;
  border-radius: 30px;
  border: #daa520 3px solid;
}

.img-cinq {
  width: 100%;
  background: #262525c7;
  height: 160px;
  position: relative;
  margin-top: -163px;
  border: #daa520 3px solid;
  border-radius: 30px;
}

.six {
  height: 800px;
  width: 60%;
  margin: auto;
  background: #daa52016;
  margin-top: 90px;
  border-radius: 50px;
}

.msg-container1 {
  display: flex;
  padding-top: 40px;
  justify-content: flex-end;
  padding-right: 40px;
}

.Gardien-six-1 {
  background: white;
  min-width: 200px;
  min-height: 180px;
  max-width: 300px;
  max-height: 220px;
  border-radius: 20px;
  clip-path: polygon(
    0% 0%,
    100% 0,
    100% 73%,
    100% 80%,
    100% 100%,
    66% 73%,
    0 73%
  );
}

.Gardien-six-1 h2 {
  text-align: center;
}

.profil-six1 {
  padding-top: 150px;
}

.msg-container2 {
  display: flex;
  padding-left: 20px;
}

.Gardien-six-2 {
  background: white;
  min-width: 300px;
  min-height: 180px;
  max-width: 400px;
  max-height: 220px;
  border-radius: 20px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 74%, 31% 75%, 0 100%, 0 75%, 0 75%);
}

.Gardien-six-2 h2 {
  text-align: center;
  padding-top: 10px;
}

.profil-six2 {
  padding-top: 150px;
}

.msg-container3 {
  display: flex;

  padding-right: 40px;
  flex-direction: row-reverse;
}

.Gardien-six-3 {
  background: white;
  min-width: 200px;
  min-height: 180px;
  max-width: 300px;
  max-height: 220px;
  border-radius: 20px;
  clip-path: polygon(
    0% 0%,
    100% 0,
    100% 73%,
    100% 80%,
    100% 100%,
    66% 73%,
    0 73%
  );
}

.Gardien-six-3 h2 {
  text-align: center;
}

.profil-six3 {
  padding-top: 150px;
}

.button-six {
  text-align: center;
}

.button-six button {
  height: 55px;
  width: 200px;
  color: white;
  background: rgb(160, 148, 148);
  border: transparent;
  border-radius: 13px;
  font-size: 1.5rem;
}

.button-six a {
  text-align: center;
  text-decoration: none;
  color: white;
}

.nos-partenaires {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

.nos-partenaires h1 {
  color: white;
  font-size: 3rem;
  margin-left: 100px;
  background: #3c3939;
  width: 450px;
  height: 100px;
  text-align: center;
  padding-top: 20px;
  border-radius: 30px;
}

.sept-container {
  display: flex;
  width: 70%;
  margin: auto;
  justify-content: space-between;
  margin-top: 80px;
}

.sept-img3 img {
  width: 500px;
  height: 300px;
  z-index: -1;
  border-radius: 30px;
  border: #daa520 3px solid;
}

.img-sept {
  width: 100%;
  background: #262525c7;
  height: 130px;
  position: relative;
  margin-top: -135px;
  border: #daa520 3px solid;
  border-radius: 30px;
}
footer {
  display: flex;
  flex-direction: column;
  background-color: #3a3a3a;
  color: #fff;
  padding: 30px 0;
  font-family: Arial, sans-serif;
  height: fit-content;
  width: 100%;
  border-radius: 100px 100px 0 0;
  margin-top: 150px;
}

.footer-container {
  width: 100vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-left {
  margin-right: auto;
  margin-left: 65px;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 45%;
}

.logo {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}

.footer-text {
  text-align: center;
  background-color: #f0ad4e;
  color: black;
  padding: 15px 20px;
  border-radius: 5px;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  height: auto;
}

.footer-buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  column-gap: 50px;
}

.footer-btn {
  background-color: #333;
  color: white;
  border: none;
  padding: 15px 60px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
}

.footer-right {
  display: flex;
  justify-content: space-around;
  width: 45%;
  margin-right: 65px;
}

.footer-links,
.footer-about {
  margin-right: 20px;
}

h4 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 20px;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul li a {
  color: #f0ad4e;
  text-decoration: none;
  font-size: 20px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}

.footer-bottom p {
  color: #fff;
}
